
Host Windows XP
===============

This snapshot can be addressed online by SNMP community name "os/windows/XP" or
SNMP context name "os/windows/XP".

Simulation data file for `snmpsim <http://snmplabs/snmpsim>`_ can be downloaded
by :download:`this link </../../data/os/windows/XP.snmprec>`.

Managed objects
---------------

This snapshot contains the following SNMP managed objects:

.. toctree::
   :maxdepth: 1
   :glob:

   *
